---
layout: page
active: calendar
title: "Calendar"
auto-title: true
full-page: true
---

<p>This calendar is mostly for planning purposes, but may be useful as an easy way to view deadlines across the quarter.</p>

<p>Note that assignments are listed as due on Friday when due on the Sunday after.</p>

<table class="tbl-outline">

<tr><th>Week</th><th>Day</th><th>Reading</th><th>Lecture</th><th>Lab</th>

{% for pair in site.data.assignments %}
  {% assign name = pair[0] %}
  {% assign assignment = pair[1] %}

  {% if assignment.display != false %}
  <th><a href="{{ site.baseurl }}/{{ assignment.type }}s/{{ name }}">{{ assignment.title }}</a></th>
  {% endif %}
{% endfor %}

</tr>
{% for week in site.data.weeks %}

{% capture week_color %}{% cycle '#fff', '#EDEDED' %}{% endcapture %}

{% for day in week.days %}

  <tr style="background-color: {{ week_color }};">

    <td>{{ week.number }}</td>
    <td>{{ day.name }}</td>


{% if day.override %}
    <td colspan="3"><ul><li>{{ day.override }}</li></ul></td>
{% else %}

    <!-- Columns -->
{% for column in site.data.course.schedule_columns %}
    <td>
      <ul>
  {% for item in day[column.name] %}
        <li>
    {% if item.tag %}
      {% assign color = "primary" %}
      {% case item.tag %}
        {% when 'Lecture' %}
           {% assign color = "primary" %}
        {% when 'Video' %}
           {% assign color = "pink" %}
        {% when 'Workshop' %}
           {% assign color = "cyan" %}
      {% endcase %}

      <span class="item-tag bg-{{ color }}">{{ item.tag }}</span>
    {% endif %}

    {% if item.link %}
          <a href="{{ item.link | prepend: site.baseurl }}">{{ item.text }}</a>{% if item.due %} due {{ item.due }}{% endif %}</li>
    {% elsif item.outbound %}
          <a href="{{ item.outbound }}">{{ item.text }}</a>{% if item.due %} due {{ item.due }}{% endif %}</li>
    {% elsif item.text %}
          {{ item.text }}</li>
    {% else %}
          {{ item }}
    {% endif %}
      </li>
  {% endfor %}

  {% for date in site.data.dates %}
    {% if day.name == date.when %}
      {% assign anything = true %}
        <li>{{ date.what }}</li>
    {% endif %}
  {% endfor %}

      </ul>
    </td>
{% endfor %}
{% endif %}

    <!-- Assignments -->
{% for pair in site.data.assignments %}
  {% assign name = pair[0] %}
  {% assign assignment = pair[1] %}

  {% if assignment.display != false %}

    <td>
    {% if day.name == assignment.due %}
      <a href="{{ site.baseurl }}/{{ assignment.type }}s/{{ name }}"><span class="oi oi-circle-x" title="{{assignment.title}} due" aria-hidden="true" style="color: red;"></span></a>
    {% endif %}
    {% if day.weekend == assignment.due %}
      <a href="{{ site.baseurl }}/{{ assignment.type }}s/{{ name }}"><span class="oi oi-circle-x" title="{{assignment.title}} due" aria-hidden="true" style="color: orange;"></span></a>
    {% endif %}
    {% if day.name == assignment.assigned %}
      <a href="{{ site.baseurl }}/{{ assignment.type }}s/{{ name }}"><span class="oi oi-arrow-circle-right" title="{{assignment.title}} assigned" aria-hidden="true" style="color: green;"></span></a>
    {% endif %}
    </td>

  {% endif %}

{% endfor %}


  </tr>

{% endfor %}
{% endfor %}

</table>
