---
layout: default
---

<div class="jumbotron">
 <div class="container">

    <h1>CSC 371: Game Design</h1>
    <p>
      This is the course webpage for CSC 371.
      This is where you should look for information on all upcoming assignments
    </p>
    <p>
      We meet from <span class="text-success">3:10pm - 4:00pm</span> in <span class="text-info">22-212</span> and
      from <span class="text-success">4:10pm - 5:00pm</span> in <span class="text-info">14-255</span>.
    </p>

  </div>
</div>

<div class="container" id="content">

  <div class="panel panel-success">
    <div class="panel-heading">
      <h3 class="panel-title">Course Info</h3>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-md-12">
          <h3 class="no-top-margin">Course Schedule</h3>
          <p>
            The course schedule is below.
            For each day, the due <span class="bold">Reading</span>, <span class="bold">Lecture</span> content, and assigned <span class="bold">Assignment</span>s are shown.
          </p>
          <p>
            <span class="text-danger">You are responsible for having completed all required reading when you show up for class.</span>
            For example, Chapter 1 is the reading for Wednesday 1/11, so you should have read that chapter by 3:10pm on Wednesday 1/11.
            There may be a quiz on any assigned reading material!
          </p>
          <p>
            <span class="text-danger">However, the listed assignments for any given day are the assignments that are <span class="bold">assigned</span> that day.</span>
            They will be due at some later date.
            Click on each assignment to see additional details.
          </p>

          <h3>Textbook</h3>
          <p>
            The textbook for this course is <a href="http://www.gamedesignworkshop.com/">Game Design Workshop: A Playcentric Approach to Creating Innovative Games</a> by Tracy Fullerton.
            I have the <span class="bold">2nd Edition</span> so feel free to get that version. It can be found in a few places:
          </p>

          <ul>
            <li>Cal Poly Bookstore (ordered, I will update when I know more)</li>
            <li><a href="https://www.amazon.com/Game-Design-Workshop-Playcentric-Innovative/dp/0240809742">amazon.com (as low as $14 used)</a></li>
            <li><a href="http://www.chegg.com/etextbooks/game-design-workshop-2nd-edition-9780080560397-0080560393">chegg.com ($18 for a 90-day eTextbook rental)</a></li>
          </ul>

          <h3>Class Engine</h3>
          <p>
            We will be learning and using <a href="https://www.unrealengine.com/">Unreal Engine</a> in this course.
          </p>
        </div>
      </div>
    </div>
  </div>

{% for week in site.data.weeks %}

  <h2 class="week-label">Week {{ week.number }}</h2>

{% for day in week.days %}

  <div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title">{{ day.name }}</h3>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-md-4">
          <div class="well well-sm">
            <h4>Reading</h4>
            <ul>
{% for reading in day.reading %}
              <li>{{ reading }}</li>
{% endfor %}
            </ul>
          </div>
        </div>
        <div class="col-md-4">
          <div class="well well-sm">
            <h4>Lecture</h4>
            <ul>
{% for lecture in day.lecture %}
              <li>{{ lecture }}</li>
{% endfor %}
            </ul>
          </div>
        </div>
        <div class="col-md-4">
          <div class="well well-sm">
            <h4>Assignments</h4>
            <ul>
{% for assignment in day.assignment %}
{% if assignment.link %}
              <li><a href="{{ assignment.link | prepend: site.baseurl }}">{{ assignment.title }}</a> due {{ assignment.due }}</li>
{% else %}
              <li>{{ assignment.text }}</li>
{% endif %}
{% endfor %}
            </ul>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
        </div>
      </div>
    </div>
  </div>

{% endfor %}

{% endfor %}

</div>
