---
layout: default
---

{% include jumbotron.html %}

<div class="container" id="content">

{% include course_info.html %}

{% for week in site.data.weeks %}

  <h2 class="week-label">Week {{ week.number }}</h2>

{% for day in week.days %}

  <div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title">{{ day.name }}</h3>
    </div>
    <div class="panel-body">
      <div class="row">

        <!-- Reading -->
        <div class="col-lg-3 col-sm-6">
          <div class="well well-sm">
            <h4>Reading</h4>
            <ul>
{% for reading in day.reading %}
              <li>{{ reading }}</li>
{% endfor %}
            </ul>
          </div>
        </div>

        <!-- Lecture -->
        <div class="col-lg-3 col-sm-6">
          <div class="well well-sm">
            <h4>Lecture / Workshop</h4>
            <ul>
{% for lecture in day.lecture %}
              <li>{{ lecture }}</li>
{% endfor %}
            </ul>
          </div>
        </div>

        <!-- Lab -->
        <div class="col-lg-3 col-sm-6">
          <div class="well well-sm">
            <h4>Lab</h4>
            <ul>
{% for lab in day.lab %}
{% if lab.link %}
              <li><a href="{{ lab.link | prepend: site.baseurl }}">{{ lab.title }}</a> due {{ lab.due }}</li>
{% else %}
              <li>{{ lab.text }}</li>
{% endif %}
{% endfor %}
            </ul>
          </div>
        </div>

        <!-- Assignments -->
        <div class="col-lg-3 col-sm-6">
          <div class="well well-sm">
            <h4>Assignments</h4>
            <ul>
{% for assignment in day.assignment %}
{% if assignment.link %}
              <li><a href="{{ assignment.link | prepend: site.baseurl }}">{{ assignment.title }}</a> due {{ assignment.due }}</li>
{% else %}
              <li>{{ assignment.text }}</li>
{% endif %}
{% endfor %}
            </ul>
          </div>
        </div>

      </div>
      <div class="row">

        <!-- Notes -->
        <div class="col-xs-12">
        </div>

      </div>
    </div>
  </div>

{% endfor %}

{% endfor %}

</div>
