body {
  /* Move down content because we have a fixed navbar that is ~50px tall */
  padding-top: 50px;
  padding-bottom: 20px;

  /* Slightly increase body text font size */
  /*font-size: 1.1em;*/
}

#spacer {
  /* On most pages, we want to move the top of the page down a little bit further */
  padding-top: 20px;
}

.jumbotron p {
  font-size: 1.1em;
}

.bold {
  font-weight: bold;
}

.no-top-margin {
  margin-top: 0;
}

.week-label {
  padding-top: 75px;
}

h2:before {
  color: #000;
  content:"\25AA";
  margin-right: 6px;
}

h2:after {
  content:' ';
  display: block;
  color: #000;
  border: 2px solid #000;
  margin-top: 4px;
}

h4 {
  text-decoration: underline;
}

img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
}

.half {
  max-width: 50%;
}

iframe
{
  border: none;
}

.navbar {
  font-size: 16px;
}

.day-card {
  margin-bottom: 1rem;
}

.quick-links-card {
  margin-bottom: 1rem;
}

pre {
  padding: 0.5rem;
}


/* table */

.tbl-outline {
  margin: 0 0 10.5px;
}

.tbl-outline td {
  border: 1px solid black;
  padding: 3px;
}

.tbl-outline th {
  border: 1px solid black;
  border-bottom: 2px solid black;
  padding: 3px;
  text-decoration: underline;
}
