

<div class="panel panel-success">
  <div class="panel-heading">
    <h3 class="panel-title">Course Info</h3>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-md-12">
        <h3 class="no-top-margin">Course Schedule</h3>
        <p>
          The course schedule is below.
          For each day, the due <span class="bold">Reading</span>, <span class="bold">Lecture</span> content, and assigned <span class="bold">Assignment</span>s are shown.
        </p>
        <p>
          <span class="text-danger">You are responsible for having completed all required reading when you show up for class.</span>
          For example, Chapter 1 is the reading for Wednesday 1/18, so you should have read that chapter by 3:10pm on Wednesday 1/18.
          There may be a quiz on any assigned reading material!
        </p>
        <p>
          <span class="text-danger">However, the listed assignments for any given day are the assignments that are <span class="bold">assigned</span> that day.</span>
          They will be due at some later date.
          Click on each assignment to see additional details.
        </p>

        <h3>Textbook</h3>
        <p>
          The textbook for this course is <a href="http://www.gamedesignworkshop.com/">Game Design Workshop: A Playcentric Approach to Creating Innovative Games</a> by Tracy Fullerton.
          I have the <span class="bold">2nd Edition</span> so feel free to get that version. It can be found in a few places:
        </p>

        <ul>
          <li><a href="https://www.amazon.com/Game-Design-Workshop-Playcentric-Innovative/dp/0240809742">amazon.com (as low as $14 used)</a></li>
          <li><a href="http://www.chegg.com/etextbooks/game-design-workshop-2nd-edition-9780080560397-0080560393">chegg.com ($18 for a 90-day eTextbook rental)</a></li>
          <li>If you know of another good place to buy the book, either digitially or physically, please let me know!</li>
        </ul>

        <h3>Class Engine</h3>
        <p>
          We will be learning and using <a href="https://www.unrealengine.com/">Unreal Engine</a> in this course.
        </p>
      </div>
    </div>
  </div>
</div>
